@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
}

/*NAVBAR*/
header{
    position: absolute;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 2% 0;
    border-bottom: rgba(151, 151, 151, 20%) solid 1px;
    top:0;
    right: 10%;
    left: 10%;

}

.hamburger-icon{
   align-self: center;
    padding-right: 5%;
    display: none;
    cursor: pointer;
}

.website-logo{
    display:inline-block;
    cursor: pointer;
}

.navbar{
    display: inline-block;
    color:white;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.navbar li{
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
}
.navbar li:hover{
    color:#D87D4A;
}

.open-cart-modal-btn{
    background: none;
    border: none;
    cursor: pointer;

}

@media (max-width: 1200px) {
    header{
        left:5%;
        right:5%
    }

.navbar{
    display: none;
}
.hamburger-icon{
 display: block;
 padding-right: 10%;
}
.website-logo{
margin-right: auto;
}
}



@media (max-width: 600px) {

    header{
        left:2%;
        right:2%
    }
    .website-logo{
        margin-right:0;
    }

}

/*HERO CONTAINER*/
.header-hero-container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 2000px;
    padding-top:min(50.625%,1010px);  /* This sets the height for out background image*/
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5em;
    z-index: 0;
}

.header-hero-background-ultrawide{

background-color: #191919;



}

.hero-product-details-container{

    /*background: rgba(255,255,255,0.5);*/
    position: absolute;
    top:25%;
    left: 10%;
    width: 26rem;

}

.hero-new-product-label{
    font-size:1rem;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color:white;
    opacity: 0.5;
    margin-bottom: 1.5rem;
}

.hero-product-name{
    font-size: 3.5rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color:white;
    margin-bottom: 3rem;
}

.hero-product-description{
    color:#FFF;
    font-weight: 500;
    font-size: 1.1rem;
    opacity: 75%;
    line-height: 1.6rem;
    margin-bottom: 3rem;
    mix-blend-mode: normal;
}

.hero-see-product-btn{
    background-color:#D87D4A;
    border:none;
    color:white;
    font-size: 0.8rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    font-weight: 700;
    padding:1rem 2rem;
    width:fit-content;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .hero-product-details-container{
        width:26rem;
        top:15%;
    }
}



@media (max-width: 1200px) {
    .header-hero-container {
        background-image: url("../assets/home/tablet/image-header.jpg");
        padding-top:94.921875%;
    }
    .hero-product-details-container{
        width:auto;
        text-align: center;
        top:25%;
        left:15%;
        right: 15%;
        bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero-new-product-label{

    }

    .hero-product-name{

        width: 26rem;

    }

    .hero-product-description{

        width: 26rem;


    }

    .hero-see-product-btn{

    }
}






@media (max-width: 900px) {
    .header-hero-container {
        background-image: url("../assets/home/tablet/image-header.jpg");
        padding-top:94.921875%;
    }

    .hero-container {

    }

    .hero-product-details-container {

        top: 25%;
        bottom: 12%;
        left: 20%;
        right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}






@media (max-width: 600px) {
    .header-hero-container{
        background-image: url("../assets/home/mobile/image-header.jpg");
        padding-top:160%;
    }
    .hero-product-details-container{
        top:30%;
        bottom: 20%;
    }
    .hero-new-product-label{
        font-size: 1rem;

    }
    .hero-product-name{
        font-size: 2.6rem;
        line-height: 2.5rem;

    }

    .hero-product-description{
        font-size: 1rem;

        width: 25rem;
    }

}
@media (max-width: 500px) {

    .hero-new-product-label{
        font-size: 1rem;

    }
    .hero-product-name{
        font-size: 2.6rem;
        line-height: 2.5rem;
        width: auto;
    }

    .hero-product-description{
        font-size: 1rem;
        width: auto;
    }

}

@media (max-width: 400px) {
    .hero-product-details-container{
        top:30%;
        bottom: 10%;
        left:5%;
        right:5%;
    }
}

/*CONTAINER FOR ALL CONTENT UNDER HEADER*/
.container{
    width: 80%;
    margin:0 auto;
    max-width: 1600px; /* 2000-20% (to align with, navbar&hero image) */
}
@media (max-width: 1200px) {
    .container{
        width: 90%;

    }
}
@media (max-width: 600px) {
    .container{
        width: 96%;

    }
}

/*PRODUCT CATEGORY SECTION*/
.product-category-container{
    display: flex;
    justify-content: space-between;
    height: 12rem;
    margin-bottom: 4rem;

}
.product-category-banner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 32%;
    position:relative;

}

.product-category-background{
    position: absolute;
    top:2rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F1F1F1;
    z-index: -1;
    border-radius: 7px;
}

.headphones-banner-img{
    /*width: 33%;*/
    height: 7rem;
    top:0;
    /*width: 7rem;*/

}

.product-category{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 5%;
}

.product-category-shop-label{
    color:#000;
    opacity: 50%;
    text-decoration:none;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 700;
    font-size:0.8125rem ;
    /*overflow: hidden;*/
    white-space: nowrap;
}

.product-category-arrow{
    position: relative;
    bottom:-0.075rem;
    left: 0.05rem;
    height: 1em;
}


@media (max-width: 1200px) {
    .product-category-background{
        top:3rem;

    }
}
@media (max-width: 600px) {

    .product-category-container{
        flex-direction: column;
        height: auto;
    }

    .product-category-banner{
        width: 100%;
    }
    .product-category-background{
        /*top:4rem;*/
    }
}

/*ZX9 PRODUCT BANNER (HOME PAGE)*/
.zx9-speaker-banner{
    position: relative;
    /*padding-top:calc(28%*1.7);*/
    padding-top:47%;  /*!*Using padding to set height proportionally to the zx7 speakers*!*/
    background-color:#D87D4A;
    border-radius: 7px;
    /*height:30rem;*/
    background-image: url("../assets/home/desktop/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");
    background-repeat: no-repeat,no-repeat;
    background-size: auto 80%,84%;
    background-position: bottom -10%  left+15%, -100% 15%;
    /*!*background:rgb(216, 125, 74) url("../assets/home/desktop/pattern-circles.svg") no-repeat scroll -100% 10% / 84%;*!  code from https://a331998513.github.io/audiophile-ecommerce-website/#/*/
    margin-bottom: 2rem;
}



.zx9-banner-img{
    position: absolute;
   height: 10px;
    top:0;
    bottom: 0;
    /*height: auto;*/
    width: auto;
}

.zx9-product-details-container{
    position: absolute;
    width: 20rem;
    right: 10%;
    top:25%;


}

.zx9-product-name{
    font-size: 3.5rem;
    line-height: 3.625rem;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.zx9-product-description{
    color: #FFF;
    opacity: 75%;
    font-weight: 500;
    font-size:0.9375rem;
    line-height: 1.5625rem;
    margin-bottom: 2rem;
}

.zx9-see-product-btn{
    background-color:#000;
    border: none;
    padding: 1rem 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8125rem;
    color: #FFF;
}

@media (max-width: 1200px) {
    .zx9-speaker-banner{
        padding-top:92.88824383%;
        background-image: url("../assets/home/tablet/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");
        background-size: auto 40%,120%;
        /*background-position:  50% 5%, 50% 300%;*/
        background-position:  50% 15%, 50% 130%;
        /*height: 40rem;*/
    }



    .zx9-product-details-container{
        top:unset;
        left:0;
        right: 0;
        margin:0 auto;
        bottom:10%;
        text-align: center;
    }

}
@media (max-width: 900px) {
    .zx9-speaker-banner {

        background-size: auto 35%,120%;
        background-position:  50% 10%, 50% 130%;
    }
    .zx9-product-details-container{
        bottom:5%;
    }
    .zx9-product-name{
        margin-bottom: 1rem;
    }
    .zx9-product-description{

        margin-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .zx9-speaker-banner{

        background-image: url("../assets/home/mobile/image-speaker-zx9.png"), url("../assets/home/desktop/pattern-circles.svg");
        background-size: auto 35%,172%;
        background-position:  50% 12%, 50% -200%;
        padding-top: 190%;
    }

    .zx9-product-details-container{
        bottom: 10%;
    }
    .zx9-product-name{
        line-height: 2.5rem;
        font-size: 2.25rem;
        width: 9rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
    }
    .zx9-product-description{
        font-size: 0.9375rem;
        width: 17rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1.5rem;
    }

}

.see-product-btn-transparent{
    background-color:transparent;
    border: 2px #000 solid;
    padding: 1rem 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8125rem;
    color: #000;
}


.zx7-speaker-banner{
    position: relative;
    height: 0;
    width: 100%;
    padding-top:28.828828828%; /*padding to set height to the div responsively (value is the aspect ratio expressed in %)*/
    border-radius: 8px;
    background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}

.zx7-product-details-container{
    position: absolute;
    top:0;
    bottom: 0;
    left:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.zx7-product-name{
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

@media (max-width: 1200px) {
    .zx7-speaker-banner{
        width: 100%;
        padding-top:46.444121915%;  /*!* CSS hack to set height based on width (aspect ratio -30% to prevent it from getting too tall)*!*/
        background-size: contain;
        background-position: bottom right;
        background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
    }
}

@media (max-width: 900px) {
    .zx7-speaker-banner{
        width: 100%;
        padding-top:46.44%;  /*!*padding to set height to the div responsively (value is the aspect ratio expressed in %)*!*/
        background-size: contain;
        background-image: url("../assets/home/tablet/image-speaker-zx7.jpg");
    }
}

@media (max-width: 600px) {
    .zx7-speaker-banner{
        width: 100%;
        padding-top:97.859327217%;  /*!*padding to set height to the div responsively (value is the aspect ratio expressed in %)*!*/
        background-size: contain;
        background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
    }
}