@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Manrope, sans-serif;
}

/*NAVBAR*/
header{
    position: absolute;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 2% 0;
    border-bottom: rgba(151, 151, 151, 20%) solid 1px;
    top:0;
    right: 10%;
    left: 10%;

}

.hamburger-icon{
   align-self: center;
    padding-right: 5%;
    display: none;
    cursor: pointer;
}

.website-logo{
    display:inline-block;
    cursor: pointer;
}

.navbar{
    display: inline-block;
    color:white;
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
}

.navbar li{
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 20px;
    cursor: pointer;
}
.navbar li:hover{
    color:#D87D4A;
}

.open-cart-modal-btn{
    background: none;
    border: none;
    cursor: pointer;

}

@media (max-width: 1200px) {
.navbar{
    display: none;
}
.hamburger-icon{
 display: block;
 padding-right: 10%;
}
.website-logo{
margin-right: auto;
}
}

@media (max-width: 900px) {
header{
    left:10%;
    right:10%
}

}


@media (max-width: 600px) {

    header{
        left:2%;
        right:2%
    }
    .website-logo{
        margin-right:0;
    }

}

/*HERO CONTAINER*/
.header-hero-container{
    margin: 0;
    width: 100%;
    padding-top: 50.625%;
    background-image: url("../assets/home/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.header-hero-container{
    margin: 0;
    position: relative;
    width: 100%;
    padding-top:50.625%;  /* This sets the height for out background image*/
    z-index: 0;

}

.hero-product-details-container{

    /*background: rgba(255,255,255,0.5);*/
    position: absolute;
    top:25%;
    left: 10%;
    width: 26rem;

}

.hero-new-product-label{
    font-size:1rem;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color:white;
    opacity: 0.5;
    margin-bottom: 1.5rem;
}

.hero-product-name{
    font-size: 3.5rem;
    line-height: 3.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color:white;
    margin-bottom: 3rem;
}

.hero-product-description{
    color:#FFF;
    font-weight: 500;
    font-size: 1.1rem;
    opacity: 75%;
    line-height: 1.6rem;
    margin-bottom: 3rem;
    mix-blend-mode: normal;
}

.hero-see-product-btn{
    background-color:#D87D4A;
    border:none;
    color:white;
    font-size: 0.8rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    font-weight: 700;
    padding:1rem 2rem;
    width:fit-content;
    margin: 0 auto;
}

@media (max-width: 1600px) {
    .hero-product-details-container{
        width:26rem;
        top:15%;
    }
}



@media (max-width: 1200px) {
    .header-hero-container {
        background-image: url("../assets/home/tablet/image-header.jpg");
        padding-top:94.921875%;
    }
    .hero-product-details-container{
        width:auto;
        text-align: center;
        top:25%;
        left:15%;
        right: 15%;
        bottom: 15%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .hero-new-product-label{

    }

    .hero-product-name{

        width: 26rem;

    }

    .hero-product-description{

        width: 26rem;


    }

    .hero-see-product-btn{

    }
}






@media (max-width: 900px) {
    .header-hero-container {
        background-image: url("../assets/home/tablet/image-header.jpg");
        padding-top:94.921875%;
    }

    .hero-container {

    }

    .hero-product-details-container {

        top: 25%;
        bottom: 12%;
        left: 20%;
        right: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}






@media (max-width: 600px) {
    .header-hero-container{
        background-image: url("../assets/home/mobile/image-header.jpg");
        padding-top:160%;
    }
    .hero-product-details-container{
        top:30%;
        bottom: 20%;
    }
    .hero-new-product-label{
        font-size: 1rem;

    }
    .hero-product-name{
        font-size: 2.6rem;
        line-height: 2.5rem;

    }

    .hero-product-description{
        font-size: 1rem;

        width: 25rem;
    }

}
@media (max-width: 500px) {

    .hero-new-product-label{
        font-size: 1rem;

    }
    .hero-product-name{
        font-size: 2.6rem;
        line-height: 2.5rem;
        width: auto;
    }

    .hero-product-description{
        font-size: 1rem;
        width: auto;
    }

}

@media (max-width: 400px) {
    .hero-product-details-container{
        top:30%;
        bottom: 10%;
        left:5%;
        right:5%;
    }
}
















